.font_a{
  font-size: 15px;
  font-style: oblique;


}
.font_b{
  color: green;
  font-size: 11px;
}

.border{
  border: 1px dotted green;
  padding-top: 10px;
  margin: 17px;

}

.border_2{
  border: 1px solid green;
  padding-top: 10px;
  margin: 17px;
}


.img{
  float: right

}
